@ft_size: 1rem;
@blue_color: #2895F1;
@gray_color: #dcdcdc;
@base_pix: 1/24rem;

*{
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}
html{
  font-size: 12px;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
}
::-webkit-scrollbar {
    width: 0px;
}
body{
  font-size: 24 * @base_pix;
      background: rgba(0, 150, 139, 1);
}
.login_sign{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}
.gray_bg{
  background: #eee;
}
.show{
  display: block;
}
.hide{
  display: none;
}
.clr{
    zoom: 1;
}
.clr:after{
    content: ' ';
    display: block;
    line-height: 1;
    height: 0px;
    overflow: hidden;
    clear: both;
}

.base_auth_form{
  width: 352px;
  margin: 0 auto;
  margin-top: 60px;
}
.auth_logo{
  color: #000;
  text-align: center;
  padding-bottom: 28px;
}
.auth_logo_icon{
  background: url(http://192.168.1.104:1022/po/static/images/polar_logo.png) no-repeat;
  width: 131px;
  height: 33px;
  display: inline-block;
  position: relative;
}
.auth_logo_beta{
  position: absolute;
  color: #afbdc8;
  right: -37px;
  top: -7px;
}
.lg_form{
  width: 352px;
  margin: 0 auto;
}
.input{
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .20);
  border-radius: 4px;
}
.input:focus{
  border: 1px solid #0084ff;
  outline:none;
}
.btn{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  background: #007ee5;
  height: 39px;
  line-height: 39px;
  border-radius: 4px;
  color: #fff;
}
.box_form{
  border: 1px solid #c2cbd3;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(33, 38, 41, 0.06);
}
.box_form_ot{
  margin-top: 14px;
}
.box_form .ipt_item input{
  padding: 19px 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid #d7dee3;
  border-radius: 0px;
}
.box_form .ipt_item{
  margin-top: 0px;
  margin-bottom: 0px;
}
.box_form .ipt_action_ct{
  padding: 16px;
}
.box_form .ipt_action_ct .btn{
  height: 46px;
  line-height: 46px;
}
.box_form .ipt_ot_item{
  padding: 16px;
  border-bottom: 1px solid #d7dee3;
  text-align: center;
}
.box_form .ipt_ot_item:last-child{
  border-bottom: none;
}
.box_form a{
  color: #007ee5;
  text-decoration: none;
}

.ipt_item{
  margin-top: 10px;
  margin-bottom: 10px;
}
.ipt_item .input{
  width: 100%;
}
.ipt_item .btn{
  width: 100%;
  color: #fff;
}
.show_form_error{
  color: red;
  font-size: 14px;
  text-align: center;
  padding-bottom: 28px;
}
.lg_form .title{
  font-size: 16px;
  line-height: 56px;
  text-align: center;
}
// 
.main_pane{
  // width: 1024px;
  position: fixed;
  box-sizing: border-box;
  top: 20px;
  left: 30px;
  right: 30px;
  bottom: 20px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
  background: #fff;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

}
.left_pane{
  box-sizing: border-box;
  border-right: 1px solid rgba(165, 173, 180, 0.46);
  position: absolute;
  width: 284px;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.right_pane_inner, .left_pane_inner{
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  width: 100%;
  overflow-y: scroll;
  overflow-y: scroll;
  top: 64px;
  padding-bottom: 162px;
}
.right_pane_inner_ct{
  // background: url(http://img13.deviantart.net/31cf/i/2015/028/8/6/super_hero_whatsapp_background_by_x_ama-d8fr7iz.jpg);
  // box-shadow: inset 0px 0px 3px rgba(12, 12, 12, 0.29);
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.top_nav{
  height: 64px;
  background: rgba(180, 170, 153, 0.06);
  border-bottom: 1px solid rgba(165, 173, 180, 0.46);
  position: relative;
  z-index: 13;
  text-align: center;
  top: 0px;
}
.right_pane{
  box-sizing: border-box;
  // border-right: 1px solid rgba(165, 173, 180, 0.46);
  position: absolute;
  width: 68.75%;
  height: 100%;
  left: 284px;
  top: 0px;
}
.when_right_show{
  right: 292px;
  width: auto;
}
.user_item{
  height: 58px;
  position: relative;
  margin-bottom: -1px;
  color: #47525d;
  cursor: pointer;
}
.user_item_focus{
  color: #007ee5;
}
.user_info_num{
  width: 20px;
  height: 20px;
  border-radius: 19px;
  color: #e72020;
  background: #ffc8c8;
  line-height: 20px;
  position: absolute;
  font-weight: 700;
  top: 50%;
  margin-top: -10px;
  right: 15px;
  box-sizing: border-box;
  z-index: 2;
  // box-shadow: 0 4px 16px rgba(255,25,90,.19);
  text-align: center;
}
.user_items{
  margin-top: 26px;
}
.user_item:hover{
  // background: rgba(244, 245, 245, 1);
}
.user_item:hover .user_item_inner{
  // background: rgba(244, 245, 245, 1);
  // border-bottom: 1px solid rgba(244, 245, 245, 1);
  z-index: 1;
  color: #007ee5;
}

.user_item_ricon{
  position: absolute;
  left: 0px;
  top: 0xp;
  height: 100%;
  width: 53px;
}
.user_item_ricon .user_item_icon_ct{
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 24px;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  top: 50%;
  margin-top: -12px;
  border: 1px solid #e9eff4;
  overflow: hidden;
}
.user_item_ricon .user_item_icon_ct img{
  width: 100%;
  height: 100%;
}
.user_item .user_item_inner{
  border-bottom: 1px solid #e9eff4;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  margin-left: 55px;
  box-sizing: border-box;
  position: relative;
  height: 58px;
  line-height: 58px;
  font-size: 14px;
}
.user_item .user_item_inner .user_item_text{
  display: inline-block;
  vertical-align: middle;
}
.user_item_title{
  height: 35px;
  cursor: default;
  position: relative;
}
.user_item_title .user_item_inner{
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  color: #8e949e;
  border-bottom: 1px solid #e9eff4;
}
.user_item_title:hover{
  background: none;
}
.user_item_title:hover .user_item_inner{
  color: #8e949e;
}
.user_item_title .user_item_ricon .user_item_icon_ct{
  border: 0px;
  width: 23px;
  height: 20px;
  margin-top: -11px;
}
.user_item_title .user_item_chat_icon{
  background: url(http://192.168.1.104:1022/po/static/images/channel_icon.png) no-repeat;
  background-size: 24px 21px;
}
.user_item_title .user_item_ricon .user_item_icon_ct img{
  width: 24px;
  height: auto;
}
.msg_ipt_mg{
  position: absolute;
  width: 100%;
  height: 62px;
  box-sizing: border-box;
  border-top: 1px solid rgba(165,173,180,.46);
  background: rgba(250, 250, 249, 1);
  bottom: 0px;
}
.msg_ipt_mg_inner_tools{
  height: 32px;
  margin: 16px 8px;
  padding-right: 90px;
  position: relative;
}

.msg_ipt_tool{
  display: block;
  padding: 8px 0px;
  width: 100%;
  font-size: 14px;
  border: none;
  outline: none;
  background: none;
}
.msg_ipt_toos_ct{
  position: absolute;
  right: 0px;
  top: 0px;
}
.msg_ipt_toos_action{
  float: right;
  height: 32px;
  width: 32px;
  margin-left: 16px;
  position: relative;
  cursor: pointer;
}
.msg_ipt_toos_action:hover{
  background: #eee;
}
.mgs_ipt_icon{
  background: url(http://192.168.1.104:1022/po/static/images/ipt_icons.png) no-repeat;
  background-size: 84px 20px;
}
.file_ipt_icon{
  background-position: -14px 0px;
  width: 16px;
  height: 18px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -9px;
}
.todo_ipt_icon{
  background-position: -55px 0px;
  width: 24px;
  height: 17px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -12px;
}
// 
.msg_item{
  padding-left: 74px;
  min-height: 64px;
  position: relative;
  padding-left: 74px;
  position: relative;
  background: #fff;
}
.msg_item_logo{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-sizing: border-box;
  border: 1px solid #e9eff4;
  position: absolute;
  left: 17px;
  top: 15px;
  overflow: hidden;
}
.msg_item_logo img{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.channel_detail_show{
  padding-top: 18px;
  border-bottom: 1px solid #e9eff4;
}
.channel_detail_title{
  font-size: 15px;
  line-height: 1;
  font-weight: bold;
  color: #47525d;
}
.channel_detail_text{
  font-size: 14px;
  line-height: 20px;
  color: #3d4048;
  padding: 7px 15px 14px 0px;
}
.channel_user_list_ct{
  border-bottom: 1px solid #e9eff4;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
.channel_user_list_ct .channel_user_item{
  float: left;
  width: 21px;
  height: 21px;
  border-radius: 21px;
  border: 1px solid #e9eff4;
  overflow: hidden;
  margin-right: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
}
.channel_user_list_ct .channel_user_item img{
  display: block;
  width: 100%;
  height: 100%;
}

.channel_user_list_ct .plus_icon_ct{
  position: absolute;
  right: 5px;
  top: 10px;
  margin-right: 0px;
  margin-top: 0px;
}
.channel_user_list_ct .plus_icon_ct:hover{
  background: #eee;
}
.plus_icon{
  background: url(http://192.168.1.104:1022/po/static/images/plus_icon.png) no-repeat;
  background-size: 9px 9px;
  position: absolute;
  top: 6px;
  left: 6px;
  width: 9px;
  height: 9px;
}
.channel_message_ct{
  padding-top: 15px;
}
.channel_message_title{
  margin-top: 3px;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
  color: #3d464d;
}
.channel_message_time{
  color: #adb7bf;
  font-size: 15px;
  font-weight: 300;
  margin-left: 9px;
}
.channel_message_text{
  font-size: 15px;
  line-height: 22px;
  color: #3d4048;
  padding: 2px 15px 2px 0;
}
.message_at_name{
  margin-right: 6px;
  color: #007ee5;
}

.is_alive_team{
      width: 10px;
    height: 10px;
    border-radius: 19px;
    color: #fff;
    background: #2fb562;
    line-height: 22px;
    position: absolute;
    font-weight: 700;
    top: 50%;
    margin-top: -5px;
    right: 15px;
    box-sizing: border-box;
    z-index: 2;
}
.to_do_icon{
  background: url(http://192.168.1.104:1022/po/static/images/to_do_icon.png) no-repeat;
  height: 30px;
  width: 30px;
  background-size: 30px 23px;
  background-position: 0px 0px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -2px;
}
.channel_hd_brief{
  display: inline-block;
  position: absolute;
  left: 17px;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
}
.channel_hd_pic{
  width: 40px;
  height: 40px;
  border-radius: 40px;
  box-sizing: border-box;
  border: 1px solid #e9eff4;
  float: left;
  position: relative;
  overflow: hidden;
}
.com_in_img{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.channel_hd_txt{
  float: left;
  line-height: 40px;
  font-size: 18px;
  margin-left: 20px;
}
.add_channel_action{
  width: 21px;
  height: 21px;
  border-radius: 21px;
  border: 1px solid #e9eff4;
  overflow: hidden;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -14px;
  cursor: pointer;
  z-index: 11;
}
.profile_dn_des{
  position: absolute;
  background: #fff;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
  top: 40px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  z-index: 16;
}
.team_ct_item{
  padding: 10px 29px;
  font-size: 15px;
  min-width: 170px;
  text-align: left;
  // border-radius: 3px;
  color: #444;
  position: relative;
}
.team_ct_item:hover{
  background: #eee;
}
.group_hd_brief{
  z-index: 13;
}
.group_hd_brief .channel_hd_txt{
  margin-left: 0px;
}
.profile_dn_des .team_ct_hd{
  // background: #f5f5f5;
    border-bottom: 1px solid #e8e8e8;
    padding: 11px 16px;
    text-align: left;
    color: #888;
    font-size: 14px;
}
.profile_dn_des .team_ct_hd .add_team{
  float: right;
  color: #0069ff;
}
.close_pane_action{
    width: 21px;
    height: 21px;
    border-radius: 21px;
    border: 1px solid #e9eff4;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 11;
    transform: rotate(45deg);
}
.comm_mask{
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  display: none;
}
.group_hd_brief .channel_hd_txt{
    margin-left: 0;
    line-height: 1;
    text-align: left;
    padding-top: 3px;
}
.group_hd_brief .channel_hd_person_name{
    line-height: 1;
    font-size: 14px;
    color: dimgrey;
    color: #adb7bf;
    margin-top: 2px;
}
.box_mask{
  background: rgba(25, 34, 42, 0.68);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  // display: none;
}
.box_inner{
  width: 640px;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -320px;
  top: 100px;
  background: #fff;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}
.box_inner_title{
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  color: #3d4048;
  text-align: center;
  border-bottom: 1px solid #e9eff4;
}
.add_com_mask_btn{
  line-height: 50px;
  text-align: center;
  border-top: 1px solid #e9eff4;
  font-size: 17px;
}
.add_com_mask_btn:hover{
  background: #f6f9fc;
}
.item_radio_circle{
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: 1px solid #e9eff4;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  border-radius: 16px;
}
.item_radio_circle_pointer{
  box-sizing: border-box;
  position: absolute;

  width: 8px;
  height: 5px;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -3px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}
.user_item_focus .item_radio_circle{
  background: #007ee5;
  border: 1px solid #007ee5;
}
.info_msg_ct{
    position: fixed;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    left: 50%;
    margin-left: -100px;
    top: 7px;
    background: #d2e6d2;
    padding: 9px 10px;
    border: 1px solid #b5ceb6;
    border-radius: 3px;
    color: #539c43;
    z-index: 1111;
    background-color: #e8f7ed;
    border: 1px solid #30b661;
    color: #1BA84E;
}
.invite_ipt{
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  margin-right: 18px;
  border: none;
  background: #fff;
  position: relative;
  z-index: 1;
  outline: none;
}
.user_item_email{
  color: #c1c1c1;
  padding-left: 20px;
}
.user_item_ricon .invite_ipt_icon{
  background: url(http://192.168.1.104:1022/po/static/images/fly.png) no-repeat;
  background-size: 22px 15px;
  background-position: 0px 3px;
  border-color: #fff;
}
.invite_ipt_title{
  outline: none;
  border: 0px solid #fff;
  border-bottom: 1px solid #e9eff4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  height: 50px;
}

// to_do_ist
.to_do_pane{
  box-sizing: border-box;
  width: 292px;
  height: 100%;
  position: absolute;
  z-index: 1;
  right: -292px;
  top: 0px;
  border-left: 1px solid #e9eff4;
}
.to_do_top_nav{
  padding: 15px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #eee;
  z-index: 1;
}
.start_to_do{
  font-size: 14px;
  color: #007ee5;
  text-decoration: none;
}
.start_to_do:hover{
  text-decoration: underline;
}
.start_to_do .start_to_do_text{
  margin-left: 13px;
}
.add_icon{
  background: url(http://192.168.1.104:1022/po/static/images/to_do_team_icons.png) no-repeat;
  display: inline-block;
  width: 13px;
  height: 13px;
  background-position: -102px -8px;
  position: relative;
  top: 1px;
}
.finished_to_action{
  background: url(http://192.168.1.104:1022/po/static/images/to_do_team_icons.png) no-repeat;
  display: inline-block;
  background-position: -70px -8px;
  width: 19px;
  height: 16px;
  position: relative;
  top: 2px;
  float: right;
  right: 4px;
}
.list_pane_ct{
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  padding-top: 46px;
  box-sizing: border-box;
}
.list_pane{
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 46px;
  box-sizing: border-box;
}
.list_item{
  position: relative;
  cursor: pointer;
  border: 1px solid #fff;
  top: -1px;
}
.list_item:hover{
  border: 1px solid #eee;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.list_item_brief_ct{
  padding-left: 40px;
  padding-right: 56px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.list_item_brief_text{
  font-size: 15px;
  color: #3d464d;
}
.list_item_create_info{
  padding-top: 6px;
  font-size: 12px;
  line-height: 12px;
  color: #adb7bf;
}
.list_create_hd{
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #e9eff4;
  position: absolute;
  right: 16px;
  top: 16px;
  border-radius: 24px;
  overflow: hidden;
}
.list_create_hd img{
  width: 100%;
  height: 100%;
}
.list_item_select_ct{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 8px;
  left: 0px;
}
.list_item_select_ct:hover .list_select{
  border: 1px solid #000;
}
.list_select{
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border: 1px solid #a3b3c0;
  position: absolute;
  left: 50%;
  margin-left: -6px;
  top: 50%;
  margin-top: -6px;
  border-radius: 3px;
}
.list_select_pointer{
    width: 12px;
    height: 5px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    position: absolute;
    transform: rotate(-45deg);
    top: -1px;
    left: 1px;
    box-sizing: border-box;
    display: none;
}
.list_item_selected .list_select_pointer{
  display: block;
}
.list_item_selected .list_item_brief_text{
  text-decoration: line-through;
}
.add_to_do_list_form{
  box-shadow: 0 3px 2px 0 rgba(0,0,0,.1);
  margin-bottom: 10px;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,.1);
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0px;
  height: 100%;
  background: #fdfdfd;
  box-sizing: border-box;
  padding-top: 46px;
}

.atd_val_ct{
  margin-left: 40px;
  border-bottom: 1px solid #e9eff4;
  min-height: 40px;
  line-height: 40px;
  color: #9fa2a6;
}
.add_to_do_list_form .atd_item:last-child .atd_val_ct{
  // border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.atd_text_area, .input_text_area_normal{
    outline: 0;
    background: 0 0;
    border: none;
    display: block;
    padding: 14px 0px;
    height: 12px;
    width: 100%;
    box-sizing: border-box;
}
.atd_text_area:focus{
  min-height: 80px;
  // padding: 14px 10px;
  background: #fff;
}
.input_text_area_normal{

}

.atd_item{
  position: relative;
  background: #fdfdfd;
  border: 1px solid rgba(255, 255, 255, 0);
}
.atd_item:focus{
  border: 1px solid #000;
}
.atd_item_icon{
  position: absolute;
  top: 0px;
}
.down_ai_select{
  position: absolute;
  z-index: 3;
  background: #fff;
  width: 223px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 7px 15px rgba(0,0,0,0.1);
  // display: none;
  left: 40px;
}
.us_sel_item_name{
  color: #3d464d;
  line-height: 13px;
  padding-top: 14px;
  word-break: break-all;
}
.us_sel_item_email{
  color: #c1c1c1;
  line-height: 15px;
}
.duser_item .user_item_inner{
  height: auto;
  padding-bottom: 10px;
  padding-right: 42px;
}
.down_ai_select .duser_item:last-child .user_item_inner{
  border-bottom: 1px solid #fff;
  bottom: 0px;
}
.duser_item{
  height: auto;
  margin-bottom: 0px;
}

