<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="minimal-ui,  width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta charset="utf-8">
    <title>注册</title>
    <link rel="stylesheet" href="{{ base_origin }}/app/css/base.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="{{ base_origin }}/gallery/sea/sea.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.1.0/jquery.js"></script>
    <script type="text/javascript">
    base_host = "{{ base_origin }}";
    </script>
    <script type="text/javascript" src="{{ base_origin }}/root_config.js"></script>
</head>
<body >
    <div class="main_pane" >
        <div id="J_main"></div>
        <div id="J_group_form" class="comm_mask"></div>
        <div id="J_sign_form" class="comm_mask"> </div>
        <div id="J_add_channel" class="comm_mask"></div>
    </div>
    <div id="J_add_user_to_channel" ></div>
    <div id="J_info" ></div>
    <div id="J_add_channel_box" ></div>
    

    <script type="text/javascript">
        seajs.use('appjs/index_ctr');
    </script>
</body>
</html>